// Phones
$xs-min: 0;
$xs-max: 575px;

// Tablets
$sm-min: 576px;
$sm-max: 767px;

// Laptops
$md-min: 768px;
$md-max: 991px;

// Small Desktops
$lg-min: 992px;
$lg-max: 1199px;

// Large Desktops
$xl-min: 1200px;
$xl-max: 1399px;

// Extra Large Desktops
$xxl-min: 1400px;