@import "../node_modules/bootstrap/scss/bootstrap";
@import "theme";
@import "breakpoints";
@import "utilities";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}